<h3>Create an issue</h3>

<div class="form-group">
    <label for="title">Title</label>
    {{input value=issue.title class="form-control" placeholder="Issue Title"}}
</div>

<div class="form-group">
    <label for="body">Body</label>
    {{textarea value=issue.body class="form-control" placeholder="What's your issue?"}}
</div>

<button class="btn btn-primary" {{action 'submitIssue'}}>Submit issue</button>

{{outlet}}
