<h2>{{model.name}}'s Github</h2>
<hr>

<div class="list-group">
    {{#link-to 'user.repositories' class='list-group-item'}}Repositories{{/link-to}}
    <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
    <a href="#" class="list-group-item">Morbi leo risus</a>
</div>