.shopping-list__items {
  margin: 15px 0;
  float: left;
  clear: both;
}
.shopping-list__items li {
  list-style-type: none;
  cursor: pointer;
  padding: 3px;
}
.shopping-list__items li.shopping-list__items--active {
  background-color: #eef;
}
.shopping-list__items li:hover {
  background-color: #eee;
}
.shopping-list__add-item {
  clear: both;
  float: left;
}
