/* Opera/IE 8+ */

.openTextInput-component {
    .openTextInput-count-characters {
        background: @primary-color;
        padding: 4px 10px;
        float: right;
        font-size: @body-text-font-size - 2;
        position: relative;
        color: @white;
        .openTextInput-count-amount {
            font-weight: bold;
        }
    }
    .openTextInput-autosave {
        color: @black;
        background-color: @white;
        display: inline-block;
        font-size: @body-text-font-size - 2;
        margin: 1px;
        position: absolute;
        right: 0;
        top: 0;
        padding: 0 5px;
    }
    .openTextInput-answer-container {
        border: none;
        position: relative;
    }
    .openTextInput-item-textbox {
        border: 1px solid @black;
        box-sizing: border-box;
        color: @primary-color;
        display: block;
        margin: 0;
        padding: 1%;
        resize: none;
        width: 100%;
    }
    .buttons {
        font-size: 0;
        margin-left: auto;
        margin-right: auto;
        margin-top: @button-margin-top;
        width: 100%;
        @media all and (max-width: (@device-width-medium - 1px)) {
            width: 100%;
        }
        .openTextInput-action-button {
            background-color: @button-color;
            border: @button-border;
            color: @button-text-color;
            display: inline-block;
            font-family: @font-family;
            font-size: @font-size;
            font-weight: @font-weight-light;
            margin-top: @button-margin-top;
            padding: @button-padding;
            text-align: center;
            text-decoration: none;
            &:hover {
                background-color: @button-hover-color;
                color: @button-text-hover-color;
            }
        }
        .openTextInput-save-button {
            margin-right: 1%;
            width: 24%;
            @media all and (max-width: (@device-width-medium - 1px)) {
                margin-right: 1%;
                width: 49.5%;
            }
        }
        .openTextInput-clear-button {
            margin-right: 1%;
            width: 24%;
            @media all and (max-width: (@device-width-medium - 1px)) {
                margin-right: 0;
                width: 49.5%;
            }
        }
        .openTextInput-action-button {
            width: 50%;
            @media all and (max-width: (@device-width-medium - 1px)) {
                width: 100%;
            }
        }
        .buttons-marking-icon {
            left: 100%;
        }
        .buttons-feedback {
            display: none;
        }
        .buttons-action {
            width: 100%;
        }
    }
}
