<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon-flag" aria-hidden="true"></span>
                Github Explorer
            </a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    {{outlet}}
</div>
