<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                {{fa-icon "flag" size="1"}} &nbsp;
                Github Explorer
            </a>
        </div>
    </div>
</nav>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            {{outlet}}
        </div>
    </div>
</div>
